@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "com.adobe.txi.todo.components.*";

/**
Loading feedback styles
**/
components|LoadingFeedback
{
    skin-class: ClassReference("com.adobe.txi.todo.skins.LoadingFeedbackSkin");
}

components|LoadingFeedback s|Label
{
    fontSize:18;
    color:#FFFFFF;
}